<div class="row">
    <div class="col-6">
        <app-donut  title="Sales"></app-donut>
    </div>

    <div class="col-6">
        <app-donut 
        title="Changes"
        [labels]="labels1"
        [data]="data1"
        [labelsTest]="labels1"
        ></app-donut>
    </div>

    <div class="col-6">
        <app-donut
        title="Sales 2"
        [labels]="labels1"
        ></app-donut>
    </div>

    <div class="col-6">
        <app-donut
        title="Changes3"
        ></app-donut>
    </div>
</div>